/**
*	@file index.css
*	@author Ryan Kass
*	@date 9/26/17
*	@brief index design for exercises 1-4
*/
body
{
  color: #FF4500;
  font-size: 20pt;
  background-color: #FFE4E1;
}
a
{
  color: blue;
  background-color: #DDA0DD;
}
a:hover
{
  color: lightblue;
}
